body {
	padding: 0 30px;
	letter-spacing: 1px;
	line-height: 1.7;
}

h2 {
	letter-spacing: 2px;
}

.inside-header {
	flex-direction: row;
	padding-left: 0;
	padding-right: 0;
}

.entry-content {
	max-width: 850px;
}

.mobile-menu-control-wrapper, .site-footer {
	display: none !important;
}

@keyframes fadein {
  0%   {opacity: 0;}
  70%  {opacity: 0;}
  100% {opacity: 1;}
}

h2:last-of-type, p, .wp-block-buttons, .header-image {
	animation-name: fadein;
	animation-duration: 3.5s;
}

.header-image {
	color: #ccc;
}

h2:last-of-type {
	animation-duration: 1s;
}

p:nth-of-type(1) {
	animation-duration: 2s;
	margin-top: 2em;
}


p:nth-of-type(2) {
	animation-duration: 2.5s;
}

.wp-block-buttons {
	margin-top: 3em;
	animation-duration: 3s;
}

a {
	transition: filter 1s;
}

a:focus {
	outline: 1px dotted;
}

a:focus, a:hover {
	filter: hue-rotate(330deg);
}
