body {
	padding: 0 30px;
	letter-spacing: 1px;
	line-height: 1.7;
}

@media (min-width: 600px) {
	body {
		padding: 0 70px;
	}
}

h2 {
	letter-spacing: 2px;
}

.inside-header {
	flex-direction: row;
	padding-left: 0;
	padding-right: 0;
}

.entry-content {
	max-width: 850px;
}

.mobile-menu-control-wrapper, .site-footer {
	display: none !important;
}

@keyframes fadein {
  0%   {opacity: 0;}
  70%  {opacity: 0;}
  100% {opacity: 1;}
}

.home h2:last-of-type, .home p, .home .wp-block-buttons, .home .header-image, .home iframe, .home .discord-widget {
	animation-name: fadein;
	animation-duration: 3.5s;
}

.header-image {
	color: #ccc;
}

.home h2:last-of-type {
	animation-duration: 1s;
}

.home p:nth-of-type(1) {
	animation-duration: 2s;
	margin-top: 2em;
}

.home p:nth-of-type(2) {
	animation-duration: 2.5s;
}

.home .wp-block-buttons {
	margin-top: 3em;
	animation-duration: 3s;
}

.home iframe {
	animation-duration: 3s;
}

a, .td-u {
	transition: filter 1s, color 0.2s;
	text-decoration: underline;
}

.td-none, a:hover .td-u {
	text-decoration: none;
}

a:focus {
	outline: 1px dotted;
}

.site-logo a:focus, .site-logo a:hover, .wp-block-buttons a:focus, .wp-block-buttons a:hover {
	filter: hue-rotate(330deg);
}

.separate-containers .site-main {
	margin-bottom: 50px;
}

.separate-containers .inside-article {
	padding-top: 0;
}
